<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Main page</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <h2>Main Page</h2>
    <p>
        <span>Something interesting will be here, but not right now... not right now</span>
    </p>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a style="width: 200px; margin 0 auto;" class="form-control btn btn-success" th:href="@{/password}">Change password</a>
            <input style="width: 100px; margin 0 auto;" type="submit" onclick="logout()"
                       class="form-control btn btn-secondary" value="Logout"/>
        </div>
    </div>
</div>
<script th:inline="javascript">
function logout() {
    event.preventDefault();
    $.ajax({
        url: "/logout",
        type: "POST",
        contentType: "application/json; charset=utf-8",
        success: function() {
            window.location.href = "/login?logout";
        }
    });
}
</script>
</body>
</html>