<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Login</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login page</h1>
            <form>
                <div th:if="${param.registered}">
                    <div class="alert alert-info">You're successfully registered. We sent you link for email address
                        verification. Please, verify your email address, it's necessary.</div>
                </div>
                <div th:if="${param.recovery}">
                    <div class="alert alert-info">We sent you email with password recovery details.</div>
                </div>
                <div th:if="${param.changed}">
                    <div class="alert alert-info">Password was successfully changed.</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You've been logged out</div>
                </div>
                <div>
                    <div class="alert alert-info verificationError" style="display:none">
                        Please, verify user email. If you don't have
                        verification email, we could resend it.
                        <a class="resendVerification" href="/validation">Resend</a>
                    </div>
                </div>
                <div>
                    <div class="alert alert-danger globalError" style="display:none"></div>
                </div>
                <div class="form-group">
                    <label for="email">Username:</label>
                    <input type="text" id="email" name="email" class="form-control" autofocus="autofocus"
                           placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" onclick="login()"
                                   class="form-control btn btn-primary" value="Log In"/>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <span><a th:href="@{/recovery}" class="btn btn-link">Forgot password?</a></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>New user? <a th:href="@{/registration}">Register here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
function login() {
    event.preventDefault();
    $.ajax({
        url: "/login",
        type: "POST",
        data: convertToJson($('form')),
        contentType:"application/json; charset=utf-8",
        success: function() {
            window.location.href = "/";
        },
        error: function(body) {
            var data = body.responseJSON;
            if (data.error == "disabled") {
                $('.verificationError').show();
                $('.resendVerification').attr('href', '/validation?email='+data.message);
            } else {
                $('.globalError').html(data.message).show();
            }
        }
    });
}

function convertToJson(data) {
    var indexed_array = {};
    $.map(data.serializeArray(), function(n, i){
        indexed_array[n['name']] = n['value'];
    });
    return JSON.stringify(indexed_array);
}
</script>
</body>
</html>