<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Change Password</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <div class="form-group">
                    <h1>Update your password</h1>
                </div>
                <div th:unless="${param.recovery}">
                    <div class="form-group">
                        <label for="oldPassword" class="control-label">Current password:</label>
                        <input id="oldPassword" name="currentPassword" type="password" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Your new password:</label>
                    <input id="password" name="newPassword" type="password" value=""/>
                </div>
                <div class="form-group">
                    <label for="duplicatedPassword" class="control-label">Confirm new password:</label>
                    <input id="duplicatedPassword" type="password" value=""/>
                </div>
                <div class="form-group">
                    <div class="alert alert-info">Password must contain 8-40 symbols<br/>
                        At least 1 uppercase letter, 1 lowercase letter, 1 special symbol and 1 number in any combination</div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" id="globalError" style="display:none"></div>
                </div>
                <div class="form-group">
                    <button type=submit id="updBtn" class="btn btn-primary" onclick="update()">Update password</button>
                    <a th:unless="${param.recovery}" class="btn btn-secondary" th:href="@{/}">Return back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
$(document).ready(function () {
    $("#updBtn").attr("disabled", true);
});

function update() {
    event.preventDefault();
    $.ajax({
        url: "/user/password/change",
        type: "POST",
        data: convertToJson($('form')),
        contentType:"application/json; charset=utf-8",
        success: function() {
            window.location.href = "/login?changed";
        },
        error: function(data) {
            var message = data.responseJSON.message;
            $('#globalError').html(message).show();
        }
    });
};

$(":password").keyup(function() {
    if($("#oldPassword").is(":visible") && !$("#oldPassword").val()) {
        $("#globalError").html("Password cannot be empty").show();
        $("#updBtn").attr("disabled", true);
    } else {
        if ($("#password").val()!=$("#duplicatedPassword").val() || !$("#password").val()) {
            $("#globalError").html("Please, enter same new password to both fields").show();
            $("#updBtn").attr("disabled", true);
        }
        else {
            $("#globalError").html("").hide();
            $("#updBtn").attr("disabled", false);
        }
    }
});

function convertToJson(data) {
    var indexed_array = {};
    $.map(data.serializeArray(), function(n, i){
        indexed_array[n['name']] = n['value'];
    });
    return JSON.stringify(indexed_array);
}
</script>
</body>
</html>