<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Access Recovery</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.unsuccess}">
                <div class="alert alert-danger">Token invalid or expired. Try to request it again.</div>
            </div>
            <h1>Reset password</h1>
            <form>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input id="email" name="email" class="form-control" value=""/>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" id="globalError" style="display:none"></div>
                </div>
                <div th:if="${param.token}" id="token">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="recovery()">Reset password</button>
                </div>
                <div>
                    <a href="" th:href="@{/login}">Back to login form</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
function recovery() {
    event.preventDefault();
     $.ajax({
        url: "/user/recovery",
        type: "POST",
        data: convertToJson($('form')),
        contentType:"application/json; charset=utf-8",
        success: function() {
            window.location.href = "/login?recovery"
        },
        error: function(data) {
            var message = data.responseJSON.message;
            $('#globalError').html(message).show();
        }
    });
};

if (document.getElementById('token')) {
    var body = {}
    body['token'] = new URLSearchParams(window.location.search).get('token');
    $.ajax({
        url: "/user/recovery/validate",
        type: "POST",
        data: JSON.stringify(body),
        contentType:"application/json; charset=utf-8",
        success: function() {
            window.location.href = "/password?recovery";
        },
        error: function() {
            window.location.href = "/recovery?unsuccess";
        }
    });
};

function convertToJson(data) {
    var indexed_array = {};
    $.map(data.serializeArray(), function(n, i){
        indexed_array[n['name']] = n['value'];
    });
    return JSON.stringify(indexed_array);
}
</script>
</body>
</html>