<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Registration</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.error}">
                <div class="alert alert-info">Error appears during registration</div>
            </div>
            <h1>Registration</h1>
            <form>
                <div class="form-group">
                    <label for="email" class="control-label">E-mail</label>
                    <input id="email" name="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" name="password" class="form-control" type="password"/>
                </div>
                <div class="form-group">
                    <label for="duplicatedPassword" class="control-label">Confirm password</label>
                    <input id="duplicatedPassword" name="duplicatedPassword" class="form-control" type="password"/>
                </div>
                <div class="form-group">
                    <div class="alert alert-info">Password must contain 8-40 symbols<br/>
                        At least 1 uppercase letter, 1 lowercase letter, 1 special symbol and 1 number in any combination</div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" id="globalError" style="display:none"></div>
                </div>
                <div style="margin: 6px;">
                    <input id="terms" type="checkbox" name="terms"/>  
                    <label class="control-label" for="terms"> I agree with everything</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" onclick="register()">Register</button>
                    <span style="margin-left: 12px;">Already registered? <a href="" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
function register() {
    event.preventDefault();
    $.ajax({
        url: "/registration",
        type: "POST",
        data: convertToJson($('form')),
        contentType:"application/json; charset=utf-8",
        success: function() {
            window.location.href = "/login?registered"
        },
        error: function(data) {
            var message = data.responseJSON.message;
            $('#globalError').html(message).show();
        }
    });
}

function convertToJson(data) {
    var indexed_array = {};
    $.map(data.serializeArray(), function(n) {
        indexed_array[n['name']] = n['value'];
    });
    if (indexed_array['terms']) indexed_array['terms'] = true;
    console.log(indexed_array);
    return JSON.stringify(indexed_array);
}
</script>
</body>
</html>